header {
    width: 856px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 90px;
    nav {
        display: flex;
        justify-content: flex-end;
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 300px;
            li {
                a {
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 29px;
                    color: #1f095c;
                }
            }
        }
      
        .modal-win {
            display: none;
        }
    }
}
@media only screen and (min-width:375px) and (max-width:856px), (max-width:375px) {
    header {
        width: 375px;
        margin-bottom: 24px;
        nav {
            display: flex;
            justify-content: flex-end;
            width: 340px;
            ul {
                display: none;
            }
            .modal-win {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 24px;
                section {
                width: 30px;
                height: 2px;
                background-color: #21243dc5;
               }
            }
        }
    }
}