main {
    margin-bottom: 58px;
    h1 {
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #21243D;
        margin-bottom: 56px;
        
    }
    .main-item {
        display: flex;
        justify-content: space-between;
        width: 682px;
        height: 200px;
        border-bottom: 1px solid #21243d85;
        margin-top: 25px;
        .main-item__image {
            width: 246px;
            height: 180px;
        }
        .main-item__blog {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 493px;
            height: 180px;
            padding-left: 10px;
            h5 {
                font-weight: 700;
                font-size: 30px;
                line-height: 44px;
                color: #21243D;
                margin-bottom: 16px;
            }
            .main-item__data {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 34px;
                width: 100%;
                margin-bottom: 17px;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 62px;
                    height: 28px;
                    border-radius:15px;
                    background-color: #142850;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 60px;
                    color: #FFFFFF;
                }
                section {
                    width: 330px;
                    height: 34px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #8695A4;
                }
                
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #21243D;
            }
        }
    }
}
@media only screen and (min-width:375px) and (max-width:856px), (max-width:375px) {
    main {
        height: 2058px;
        
    
        .main-item {
            flex-direction: column;
            align-items: center;
            width: 340px;
            height: 460px;
            padding-bottom: 15px;
            .main-item__image {
                width: 340px;
                height: 230px;
                img {
                    width: 340px;
                    height: 230px; 
                }
            }
            .main-item__blog {
                width: 340px;
                padding-left: 5px;
                h5 {
                    font-size: 24px;
                    line-height: 30px;
                }
                .main-item__data {
                    height: 25px;
                    div {
                        font-size: 16px;
                    }
                    section {
                        width: 256px;
                        height: 25px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

        }
    }
}